<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bctn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyAppication"
        android:allowBackup="true"
        android:icon="@mipmap/hifood"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hifood_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BCTN">
        <activity
            android:name=".activity.TimKiemAct"
            android:exported="false" />
        <activity
            android:name=".activity.quanan.ThongTinQA"
            android:exported="false" />
        <activity
            android:name=".activity.quanan.QADonHang"
            android:exported="false" />
        <activity
            android:name=".activity.quanan.QuanAn"
            android:exported="false" />
        <activity
            android:name=".activity.DanhGia"
            android:exported="false" />
        <activity
            android:name=".activity.admin.QLMonAn"
            android:exported="false" />
        <activity
            android:name=".activity.admin.UpMonAn"
            android:exported="false" />
        <activity
            android:name=".activity.DoiMatKhau"
            android:exported="false" />
        <activity
            android:name=".activity.admin.ThongKe"
            android:exported="false" />
        <activity
            android:name=".activity.admin.UpQuanAn"
            android:exported="false" />
        <activity
            android:name=".activity.admin.UpTaiKhoan"
            android:exported="false" />
        <activity
            android:name=".activity.admin.QLDonHang"
            android:exported="false" />
        <activity
            android:name=".activity.admin.QLQuanAn"
            android:exported="false" />
        <activity
            android:name=".activity.admin.QLTaiKhoan"
            android:exported="false" />
        <activity
            android:name=".activity.admin.QuanTri"
            android:exported="false" />
        <activity
            android:name=".activity.ThongTinNguoiDung"
            android:exported="false" />
        <activity
            android:name=".activity.TheoDoiDonHang"
            android:exported="false" />
        <activity
            android:name=".activity.ThanhToanAct"
            android:exported="false" />
        <activity
            android:name=".activity.QuanAnAct"
            android:exported="false" />
        <activity
            android:name=".activity.DangKy2Act"
            android:exported="false" />
        <activity
            android:name=".activity.DangKy1Act"
            android:exported="false" />
        <activity
            android:name=".activity.DangNhapAct"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" /> <!-- Giúp menu không nhảy khi bấm editext adjustNothing -->
        <activity
            android:name=".activity.TrangChuAct"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>